body {
    padding-top: 50px;
}

.users > .user {
    text-align: center;
}

.user-image {
    border: 4px solid #FAFAFA;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.page-header {
    text-align: center;
}

.oauth {
    padding-top: 30px;
}

.oauth .media-body {
    padding: 45px 15px;
}

.oauth .media-heading {
    margin: 0 0 12px;
}

.oauth .user-image {
    margin: 20px;
}

.oauth-actions {
    padding-top: 30px;
    text-align: right;
}

.alert pre {
    padding: 10px 0;
    border: none;
    background: none;
}